# Django-specific files
.DS_Store
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# Django migrations
db.sqlite3
migrate_django_app_name_0001_initial.py

# Other Django-specific files
.coverage
.tox
nosetests.cfg
test.db
coverage.xml
htmlcov/
.coverage.py

# Python-specific files
.eggs
*.egg-info
.eggs-dist
.python-eggs

# IDE-specific files
.idea/
.vscode/
.project
.settings/
.csproj
.sln
.user

# Virtual environment files
env/
virtualenv/
.env/

# Build files
build/
dist/

# Local configuration files
local_settings.py

# Temporary files
*.swp
*.bak
*.tmp
*.log
